html,
body {
  height: 100%;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: "FuturaLightC", sans-serif;
  font-size: 20px;
  line-height: 1.35;
  font-weight: normal;
  color: $dark;
}

h1 {
  font-family: "FuturaDemiC", sans-serif;
  font-size: 44px;
  line-height: 53px;
  color: $light;
  text-transform: uppercase;
}

h2 {
  font-family: "FuturaLightC", sans-serif;
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  color: $dark;
  text-transform: uppercase;
  margin-left: 50px;
  margin-bottom: 65px;
  position: relative;
  z-index: 0;
  opacity: 0;
  animation: flipInX 1s .2s forwards;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
    height: 2px;
    width: 20px;
    background-color: #000;
  }
  &::after {
    content: attr(data-title);
    color: #f8f8f8;
    font-size: 80px;
    line-height: 80px;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    margin-top: -40px;
    left: 130px;
    font-weight: 900;
    z-index: -1;
  }
}

.dark-section:after {
  color: #f5f5f5;
}

h3 {
  font-family: "FuturaDemiC", sans-serif;
  font-size: 22px;
  line-height: 28px;
  color: $dark;
  text-align: center;
}

h4 {
  font-family: "FuturaLightC", sans-serif;
  color: $light;
  font-size: 21px;
  text-align: center;
}

a {
  color: $light;
}

.link-btn,
.popup-btn {
  display: inline-block;
  padding: 18px 50px;
  background-color: rgba(#000000, .4);
  border: 3px solid #fff;
  text-transform: uppercase;
  text-align: center;
  color: $light;
	font-family: 'FuturaDemiC', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  transition: .4s;
  cursor: pointer;
    &:hover {
      background-color: #333;
    }
}

.logo-img {
  width: 240px;
}

// анимация
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -40px, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    transform: perspective(400px);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes flipInY {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transition-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  100% {
    transform: perspective(400px);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  100% {
    opacity: 1;
  }
}
