@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

// --- Header ---
.header {
  position: absolute;
  width: 100%;
  padding: 35px 60px 0;
  display: flex;
  justify-content: space-between;
  &__logo {
    width: 250px;
  }
  &__info {
  }
  &__time,
  &__email {
    color: $gray;
    & span {
      color: $light;
      font-size: 18px;
    }
  }
  &__email-link {
    border-bottom: 1px solid #fff;
    transition: .4s;
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
  &__phones {
    display: flex;
    flex-direction: column;
  }
  &__phone-link {
    padding-left: 45px;
  }
  &__phone-link--img {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      height: 44px;
      width: 27px;
      left: 0;
      top: 4px;
      background-image: url('../images/header_phone.png');
    }
  }
  &__modal-link {
    font-size: 12px;
    font-weight: 900;
    padding-left: 45px;
    margin-top: 10px;
    position: relative;
    letter-spacing: 1.2px;
    &::before {
      position: absolute;
      content: '';
      height: 7px;
      width: 26px;
      left: 1px;
      top: 5px;
      background-image: url('../images/header_arrow-left.png');
      transition: .4s;
    }
    &:hover::before {
      left: 11px;
    }
  }
}

// --- Top ---
.top {
  background-image: url('../images/top_bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 15%;
  padding-left: 15%;
  &__title {
    width: 943px;
    margin-bottom: 25px;
  }
  &__subtitle {
    color: $light;
    font-size: 25px;
    margin-bottom: 75px;
  }
  &__btn-consult {
    margin-right: 40px;
  }
  &__btn-services {
  }
  &__list {
    margin-top: 130px;
    display: flex;
  }
  &__list-item {
    color: $light;
    padding-left: 30px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      height: 16px;
      width: 22px;
      background-image: url('../images/top_marker.png');
      
    }
    & + & {
      margin-left: 50px;
    }
  }
}

// --- Services ---
.services {
  padding: 100px 0;  
  &__title {
  }
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    max-width: 370px;
    margin-bottom: 40px;
    background-color: #333;
  }
  &__item-content {
    padding: 12px 33px 29px;
  }
  &__item-img {
  }
  &__item-title {
    margin-bottom: 10px;
  }
  &__item-title,
  &__item-price {
    text-align: left;
    color: $light;
  }
  &__item-list {
    margin-bottom: 22px;
  }
  &__item-list-li {
    color: $light;
    font-size: 18px;
  }
}


// --- About ---

// --- Checking ---

// --- How ---

// --- Contacts ---
  
// --- Footer ---





@import 'media';

