@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

// --- Header ---
.header {
  position: absolute;
  width: 100%;
  padding: 35px 60px 0;
  display: flex;
  justify-content: space-between;
  &__logo {
    width: 250px;
  }
  &__info {
  }
  &__time,
  &__email {
    color: $gray;
    & span {
      color: $light;
      font-size: 18px;
    }
  }
  &__email-link {
    border-bottom: 1px solid #fff;
    transition: .4s;
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
  &__phones {
    display: flex;
    flex-direction: column;
  }
  &__phone-link {
    padding-left: 45px;
  }
  &__phone-link--img {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      height: 44px;
      width: 27px;
      left: 0;
      top: 4px;
      background-image: url('../images/header_phone.png');
    }
  }
  &__modal-link {
    font-size: 12px;
    font-weight: 900;
    padding-left: 45px;
    margin-top: 10px;
    position: relative;
    letter-spacing: 1.2px;
    &::before {
      position: absolute;
      content: '';
      height: 7px;
      width: 26px;
      left: 1px;
      top: 5px;
      background-image: url('../images/header_arrow-left.png');
      transition: .4s;
    }
    &:hover::before {
      left: 11px;
    }
  }
}

// --- Top ---
.top {
  background-image: url('../images/top_bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 15%;
  padding-left: 15%;
  &__title {
    width: 943px;
    margin-bottom: 25px;
  }
  &__subtitle {
    color: $light;
    font-size: 25px;
    margin-bottom: 75px;
  }
  &__btn-consult {
    margin-right: 40px;
  }
  &__btn-services {
  }
  &__list {
    margin-top: 130px;
    display: flex;
  }
  &__list-item {
    color: $light;
    padding-left: 30px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      height: 16px;
      width: 22px;
      background-image: url('../images/top_marker.png');
      
    }
    & + & {
      margin-left: 50px;
    }
  }
}

// --- Services ---
.services {
  padding: 100px 0;
  background-color: #fafafa;  
  &__title {
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  &__item {
    background-color: #333;
  }
  &__item-content {
    padding: 20px 33px 29px;
  }
  &__item-img {
  }
  &__item-title {
    margin-bottom: 10px;
  }
  &__item-title,
  &__item-price {
    text-align: left;
    color: $light;
  }
  &__item-list {
    margin-bottom: 22px;
  }
  &__item-list-li {
    color: $light;
    font-size: 18px;
  }
}

// --- About ---
.about {
  padding: 15px 0 90px;
  background-color: #fafafa;  
  &__title {
  }
  &__content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__item-img {
    height: 66px;
    margin-bottom: 20px;
  }
  &__item-title {
    max-width: 180px;
    margin-bottom: 40px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -30px;
      height: 20px;
      width: 2px;
      background-color: #000;
    }
  }
  &__item-text {
    text-align: center;
  }
}

// --- Checking ---
.checking {
  padding: 100px 0;
  &__title {
  }
  &__subtitle {
    text-align: center;
    max-width: 640px;
    margin: 0 auto 65px;
    font-size: 23px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__items {
    width: 33.333%;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
  }
  &__item-img {
    width: 75px;
    height: 75px;
    padding: 16px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .2);
    & img {
      min-height: 43px;
      min-width: 43px;
    }
  }
  &__item-content {
  }
  &__item-title {
    text-align: left;
  }
  &__item-text {
    font-family: "FuturaBookC", sans-serif;
    font-size: 17px;

  }
  &__image {
    & img {
      max-height: 550px;
    }
  }
}

// --- How ---
.how {
  padding: 100px 0;
  background-color: #fafafa;  
  position: relative;
  &__decor {
    position: absolute;
  }
  &__title {
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  &__content-row-1 {
    justify-content: space-between;
    margin-bottom: 60px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 255px;
  }
  &__item-img {
    margin-bottom: 15px;
  }
  &__item-title {
    margin-bottom: 5px;
    position: relative;
    &::before,
    &::after {
      position: absolute;
      content: '';
      height: 2px;
      width: 8px;
      background-color: $dark;
      top: 50%;
    }
    &::before {
      left: -18px;
    }
    &::after {
      right: -18px;
    }
  }
  &__item-text {
    text-align: center;
  }
  &__item-modal-link {
    color: #010101;
    font-weight: 700;
    border-bottom: 1px solid #a1a1a1;
    transition: .4s;
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
  &__item-2 {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 80px;
      height: 146px;
      top: -20px;
      left: -37%;
      border-left: 2px dashed hsla(0, 0%, 63%, 0.6);
      border-bottom: 2px dashed hsla(0, 0%, 63%, 0.6);
    }
  }
  &__item-3 {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 200px;
      height: 140px;
      top: 50px;
      left: -44%;
      border-top: 2px dashed hsla(0, 0%, 63%, 0.6);
      border-left: 2px dashed hsla(0, 0%, 63%, 0.6);
    }
    &::before {
      position: absolute;
      content: '';
      width: 195px;
      height: 140px;
      top: 50px;
      right: -44%;
      border-top: 2px dashed hsla(0, 0%, 63%, 0.6);
      border-right: 2px dashed hsla(0, 0%, 63%, 0.6);
    }

  }
  &__item-4 {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 80px;
      height: 146px;
      top: -20px;
      right: -38%;
      border-right: 2px dashed hsla(0, 0%, 63%, 0.6);
      border-bottom: 2px dashed hsla(0, 0%, 63%, 0.6);
    }
  }
}
.decor-1,
.decor-2,
.decor-3 {
  width: 1px;
  height: 100px;
  background-color: $dark;
}
.decor-1 {
  top: -50px;
  left: 65px;
}
.decor-2 {
  height: 50px;
  top: -12px;
  left: 55%;
}
.decor-3 {
  top: 200px;
  right: 60px;
}


// --- Contacts ---
  
// --- Footer ---





@import 'media';

